* {
  background-color: cadetblue;
}

html {
  scroll-behavior: smooth;
}

nav {
  position: fixed;
  background-color: cadetblue;
  width: 100%;
<<<<<<< HEAD
  height: 8%;
}

.navbar {
  text-decoration: none;
  text-align: end;
=======
  background-color: transparent;
>>>>>>> editlagi
}

.navbar a {
  text-decoration: none;
<<<<<<< HEAD
  font-size: 30px;
  color: aliceblue;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  padding-right: 80px;
=======
  color: darksalmon;
  font-size: 30px;
  padding-left: 30px;
>>>>>>> editlagi
}

h1 {
  font-size: 50px;
  align-content: center;
  margin: auto;
  text-align: center;
<<<<<<< HEAD
=======
  padding-top: 15px;
>>>>>>> editlagi
  font-family: Georgia, "Times New Roman", Times, serif;
  color: whitesmoke;
}

.foto {
  margin-left: 40%;
  width: 25%;
  display: flex;
  border-radius: 50px;
  border: 5px solid cornflowerblue;
}

img {
  margin-top: 100px;
}
<<<<<<< HEAD
=======

>>>>>>> editlagi
p {
  text-align: center;
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.table {
  border: 5px solid white;
<<<<<<< HEAD
  border-radius: 50px;
  width: 40%;
  height: fit-content;
  margin-left: 30%;
=======
  width: 50%;
  margin-left: 40%;
  margin-top: 50px;
  padding: 15px;
  border-radius: 20px;
>>>>>>> editlagi
}

.contact {
  border-radius: 20px;
  width: 50%;
  margin-left: 45%;
}
<<<<<<< HEAD

.contact p {
  border-radius: 20px;
  width: 10px;
  padding-top: 10px;
}

=======
.contact p {
  border-radius: 20px;
  width: 10px;
  color: tomato;
  padding-left: 10px;
}
>>>>>>> editlagi
.wa {
  width: 10%;
  height: 20%;
  border-radius: 20px;
}

.ig {
  width: 10%;
  border-radius: 20px;
}
